[submodule "base-code"]
	path = base-code
	url = https://github.com/hailuu-1103/base-code.git
[submodule "Assets/GameFoundation"]
	path = Assets/GameFoundation
	url = https://github.com/hailuu-1103/base-code.git
